<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天通信</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/socket.io/2.1.1/socket.io.js"></script>
    <script type="text/javascript" src="/static/customer_action.js" charset="UTF-8"></script>
</head>
<body>
<div class="content">
    <input type="text" id="customer-input"/>
    <button onclick="send2Server()">发送</button>
</div>
</body>
</html>